---
title: ቅንብር ደንቦች
slug: templates
date: 0003/01/01
number: 3
contents: ስለሚትዩር ቅንብር ደንቦች ማዘጋጃ ቋንቋ፤ ሃንድልባርስ ይማሩ።|የመጀመሪያ ሦስት የቅንብር ደንቦችዎን ይፍጠሩ።|የሚትዩር ኣስተዳዳሪዎች እንዴት ሥራ እንደሚሰሩ ይረዱ።|ኣንድ መሰረታዊ ናሙናን በማይንቀሳቀስ መረጃ እንዲሰራ ያድርጉት።
paragraphs: 46
---

////

////

////

~~~html
<head>
  <title>Microscope</title>
</head>
<body>
  <div class="container">
    <header class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Microscope</a>
      </div>
    </header>
    <div id="main" class="row-fluid">
      {{> postsList}}
    </div>
  </div>
</body>
~~~
<%= caption "client/main.html" %>

////

### የሚትዩር ቅንብር ደንቦች

////

////

<% note do %>

### ፍይሎችን ማግኘት

////

////

<% end %>

////

~~~html
<template name="postsList">
  <div class="posts">
    {{#each posts}}
      {{> postItem}}
    {{/each}}
  </div>
</template>
~~~
<%= caption "client/views/posts/posts_list.html" %>

////

~~~html
<template name="postItem">
  <div class="post">
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
    </div>
  </div>
</template>
~~~
<%= caption "client/views/posts/post_item.html" %>

////

////

////

////

////

<% note do %>

### ተጨማሪ መረጃ

////

<% end %>

////

////

////

////

////

### የቅንብር ደንቦች ኣስተዳዳሪዎች

////

////

////

<% note do %>

### ኣስተዳዳሪዎች?

////

////

////

<% end %>

////

~~~js
var postsData = [
  {
    title: 'Introducing Telescope',
    author: 'Sacha Greif',
    url: 'http://sachagreif.com/introducing-telescope/'
  }, 
  {
    title: 'Meteor',
    author: 'Tom Coleman',
    url: 'http://meteor.com'
  }, 
  {
    title: 'The Meteor Book',
    author: 'Tom Coleman',
    url: 'http://themeteorbook.com'
  }
];
Template.postsList.helpers({
  posts: postsData
});
~~~
<%= caption "client/views/posts/posts_list.js" %>

////

<%= screenshot "3-1", "Our first templates with static data" %>

<%= commit "3-1", "Added basic posts list template and static data." %>

////

////

////

~~~html
<template name="postsList">
  <div class="posts">
    {{#each posts}}
      {{> postItem}}
    {{/each}}
  </div>
</template>
~~~
<%= caption "client/views/posts/posts_list.html" %>

////

### የ"this" እሴት

////

~~~js
Template.postItem.helpers({
  domain: function() {
    var a = document.createElement('a');
    a.href = this.url;
    return a.hostname;
  }
});
~~~
<%= caption "client/views/posts/post_item.js" %>

<%= commit "3-2", "Setup a `domain` helper on the `postItem`." %>

////

<%= screenshot "3-2", "Displaying domains for each links." %>

////

////

////

////

<% note do %>

### የጃቫስክሪፕት ምትሀት

////

////

////

<% end %>

////

<% note do %>

### ትኩስ ኮድ ዳግም ማስገባት

////

////

////

<% end %>
